/*
* @Author: 73152
* @Date:   2019-12-11 19:10:15
* @Last Modified by:   73152
* @Last Modified time: 2019-12-14 19:56:11
*/
*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
.biggest{
	width: 1400px;
	height: 600px;
	margin:auto ;
	border-left: 3px solid black;
	border-right: 3px solid black;

}
.box1{
	width: 1400px;
	height: 20px;
	background-color: gray;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
}
.boxp{
	width: 1100px;
	height: 20px;
	background-color: gray;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.image{
	position: absolute;
	margin-left: 130px;
}
.pra{
	display: block;
	width: 1000px;
	position: relative;
	margin: auto;
	overflow: hidden;
	text-align: center;
	color: red;
}
.box{
	width: 1200px;
	height: 380px;
	border-left: : 5px solid black ;
	border-right: : 5px solid black ;
	border-top: 1px solid red;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
}
.slider{

	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{

	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: white;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background: red;
	color: white;
}
