/*
* @Author: Blue
* @Date:   2019-12-09 10:47:39
* @Last Modified by:   73152
* @Last Modified time: 2019-12-14 19:33:07
*/
*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
div{
	display: block;
}
.boxbig{
	width: 1400px;
	border: 5px solid black;
}
.box{
/* 	border: 1px solid red; */
	width: 1200px;
	height: 382.5px;
	position:relative;
	margin:30px auto;
	overflow: hidden;
}
.box1{
	height: 22px;
	/* border: 1px blue solid; */
	background-color:#cccccc;
	position: relative;
	top: 10px;
}
/* .box2{
	width: 1200px;
	height: 22px;
	border: 1px red solid;
	position:relative;
	margin:0 auto;
} */
.img1{
	position:relative;
	float: left;
	left: 145px;
	top: 3px;
}
.box3{
	width:960px ;
	height: 22px;
	/* border: 1px black solid; */
	margin: 0 auto;
	overflow: hidden;
}
.span1{
	height: 22px;
	position: relative;
	right:-690px;
	color: red;
	text-align: center;
	overflow: hidden;
	/* border: 1px red solid; */
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: white;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
	text-align: center;
}
.nav .active{
	background: red;
	color: white;
}